<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConfigMgrSiteServer" value="CM01"/>
    <add key="ConfigMgrSiteCode" value="PS1"/>
    <add key="LDAPStartingOU" value="ou=Workstations,ou=ViaMonstra"/>
    <add key="FQDNDomainName" value="corp.viamonstra.com"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="None"/>
    <identity impersonate="true" userName="VIAMONSTRA\CM_WS" password="P@ssw0rd"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="TraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\wsfrontend\tracing\wsfrontend.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>