
/******************** FONT Styles **********************/

*
{
    /* Default Content Area */
    font-family: Microsoft Sans Serif, MS Sans Serif, Sans-Serif;
    color: #575757;
    font-size: 10pt;
    font-weight: normal;
}

.MainInstruction, H1 {
    font-size: 14pt;
    color: #1370AB;
}

.Larger, H2 {
    font-size: 12pt; 
}

.Footnote, H3 {
    font-size: 9pt;
}

/******************** Custom Element Styles **********************/

.RadioButtonText {
    cursor: default;
}

BUTTON, .VistaButton {
    width: 102px;
    margin: 0px 7px 0px 0px;
}

BODY
{
    margin: 0px;
	background-image: url("Logo.png");
	background-position: right bottom;
}

.DynamicListBox
{
    border: solid 1px; 
    overflow: auto;
    width: 90%;
 }
 
 .DynamicListBoxRow 
 {
    background-color: Transparent;
 }
 
 .DynamicListBoxRow-Over
 {
    background-color: #ccffff;
 }

.DynamicListBoxElement
{
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-top-width: 0px;
    border-bottom-width: 1px;
}

.BackButton {
    width: 30px;
    height: 30px;
    background-image: url(BackButton.jpg);
    border: 0px;
    font-size: 0px;
}

.WideEdit
{
    width: 90%;
}

U.BackButton 
{
    display: none;
}

.ErrMsg
{
    color: red;
    background-color: #ffff80;
    display: none;
}

/******************** Custom Element Styles **********************/

.HeaderArea
{
    background-color: #F0F0F0;
    height: 30px;
    color: Black;
    vertical-align: middle;
    display: none; /* Not ready for prime time */
}

.ContentArea {
    overflow: auto;
    height: 100%;
    width: 100%; 
    padding: 19px 0px 0px 38px;
    font-size: 10pt;
}

.CommandArea {
    border-top-color: #A0A0A0; 
    border-top-style: Solid; 
    border-top-width: 1px;
    background-color: #F0F0F0;
    height: 65px;
    color: Black;
    padding: 0px 15px 0px 15px;
}


.CommandWindow
{
    background-color: #e8e8e8;
    font-weight: normal;
    font-size: 9pt;
    font-family: Monospace;
    border: black 1px solid;
    padding: 2px;
    width: 90%;
    height: expression( Math.max(this.parentElement.offsetHeight - this.offsetTop - 19,200));
    overflow: auto;
    display: none; 
    
}

.ProgressBarOutter
{
    border: black 1px solid;
    background-color:Transparent;
    height: 10px;
    width: 90%;    
}

.ProgressBarInner
{
    border: 0px ;
    background-color:blue;
    height: 100%;
    width: 0px;
    font-size: 0px;
}

.CommandAreaColor
{
    background-color: #F0F0F0;
}

.LightColoredBox
{
    background-color: #F0F0F0;
    border: 1px solid; 
    width: 90%; 
    margin: 5px; 
    padding: 5px; 
}

textarea { 
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;        
  }