<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

    <targets async="true">
        <target name="InfoAndAbove" xsi:type="File" fileName="${basedir}/Logs/${shortdate}_Info.log" />
        <target name="DebugAndAbove" xsi:type="File" fileName="${basedir}/Logs/${shortdate}_Debug.log" />
        <target name="TraceAndAbove" xsi:type="File" fileName="${basedir}/Logs/${shortdate}_Trace.log"/>
        <target name="debugger" xsi:type="Debugger" layout="${stacktrace} :: ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="InfoAndAbove" />
        <logger name="*" minlevel="Debug" writeTo="DebugAndAbove" />
        <logger name="*" minlevel="Trace" writeTo="TraceAndAbove" />
        <logger name="*" minlevel="Debug" writeTo="debugger" />
    </rules>
</nlog>
